*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1c1c1c;
}

.site-header{
    background-color: #1c1c1c;
    padding: 16px 32px;
    border-bottom: 1px solid #eee;

}

.container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

/* navbar-styles */
.navigation{
    display: flex;
}

.nav-menu{
    display: flex;
    gap: 35px;
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease;
    border-bottom: 3px solid transparent;
}

.nav-link:hover,
.nav-link.active{
    color: #0077ff;
    border-bottom: 3px solid #0077ff;
}

.site-header{
    position: sticky;
    top: 0;
    z-index: 999;
}

/* hero-section-style... */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    
    
}
.hero-content{
    max-width: 60%;
    color: #ffffff;
}

.hero h1{
    font-size:50px;
    margin-bottom: 10px;
    
}

.hero button{
    font-size: 24px;
    color: #ffffff;
    background-color: #c50b40; 
}

#button1{
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-size: 13px;
    gap: 10px;
    background-color: #808080;
    width: 13px;
    height: 13px;
}

.hero-image{
    position: relative;
    width: 40%;
    overflow: hidden;
}

.hero-image img{
    width: 100%;
    height: 115%;
}

.icon-container {
    display: flex;
    margin-top: 40px;
    font-size: 15px;
}

.social-links {
    width: 15%;
}

.pink-text {
    color: #c50b40;
}

/*second section style*/
body{
    position: relative;
   
}

.container{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}

.services-section{
    background-color: #1c1c1c;
    padding: 80px 20px;
    color: #ffffff;
}

.services-section h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .services {
    justify-content: space-around;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.services-section .card{
    width: 330px;
    text-align: center;
    background: #1a1a1a;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.services-section .icon i{
    font-size: 30px;
    color: #ff0066;
    margin-bottom: 10px;
}

.services-section .title{
    font-size: 20px;
    margin-top: 10px;
    color: #ffffff;
}

.services-section p{
    font-size: 14px;
    color: #ccc;
}


/* mobile menu toggle*/
.menu-toggle{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: none;
}

.menu-toggle img{
    width: 30px;
    height: 30px;
}

/* mobile responsivness */
@media(max-width:768px){
    .menu-toggle{
        display: block;
    }
    .nav-menu{
        position: absolute;
        top: 70px;
        right: 0;
        background: #ffffff;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 16px 32px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.05);
        display: none;
        margin-right: 0;
       
    }

    .nav-menu.active{
        display: flex;
    }
}
